{% extends 'app.twig' %}
{% set page = 'error' %}

{% block title %}Błąd{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-4">Wystąpił błąd</h1>
    <p class="lead">{{ error }}</p>
{% endblock %}