{% extends 'app.twig' %}
{% set page = 'dashboard' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mt-5">Dashboard</h1>
    <p class="lead">Tu będzie jakiś dashboard jak skończymy prace. Tymczasem nie ma tu nic.</p>
    <p>Sprawdź inne zakładki.</p>
{% endblock %}