{% extends 'app.twig' %}
{% set page = 'dashboard' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mt-5">Dashboard</h1>
    <table class="table">
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{stat.name}}</td>
                <td>{{stat.value}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}